<div class="text-center text-secondary mt-4">
  <p>
    If you are seeing this, that means no jobs have been run yet or no
    puzzles are known to the leaderboard. Please log in, admin yourself and run
    the SetupLeaderboardJob to get started.
  </p>
</div>
