<h4>Today's stats <span class="fs-5 text-secondary fw-normal">day <%= day.number %></span></h4>

<%= render 'days/counters', day: day %>

<hr>

<h5>Today's fastest</h5>

<h6>Gold</h6>
<% if top_speeds(day, 5, 2).any? %>
  <%= render 'days/gold_leaderboard', day: day, count: 5 %>
<% else %>
  <p class="text-secondary text-center">
    You can still be the first to complete today's gold level!
  </p>
<% end %>

<h6>Silver</h6>
<% if top_speeds(day, 5, 1).any? %>
  <%= render 'days/silver_leaderboard', day: day, count: 5 %>
<% else %>
  <p class="text-secondary text-center">
    You can still be the first to complete today's silver level!
  </p>
<% end %>
