<table class="table table-warning table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Time Taken</th>
    </tr>
  </thead>
  <tbody>
    <% top_speeds(day, count, 2).each.with_index do |r, i| %>
      <tr>
        <td><strong><%= i + 1 %></strong></td>
        <td>
            <%= render r[0] %>
        </td>
        <td><%= time_taken(day, r[1]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
