<% content_for :title do @year.number end %>

<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 gx-4 gy-4 mt-4">
  <div class="col">
    <%= render 'years/scoreboard' %>
  </div>

  <div class="col">
    <% if @today %>
      <%= render @today %>
    <% else %>
      <p class="text-center text-secondary">
        This event is not active right now.
      </p>
    <% end %>
  </div>

  <div class="col">
    <%= render 'years/days_overview' %>
  </div>
</div>
