<% flash.each do |key, value| %>
  <div class="col-md-10 offset-md-1 my-2">
    <div class="alert alert-<%= key %> alert-dismissible fade show" role="alert">
      <%= value %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
<% end %>
